@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

.btn-style {
  cursor: pointer;
  font-family: 'Ubuntu';
  border-radius: 5%;
}

.container-general {
  background-color: #3498db;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

.delete-img {
  height: 20px;
  width: 20px;
}

.dlt-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightcoral;
  border-radius: 5%;
  height: 30px;
  width: 30px;
}

.container-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: #2114d1;
  height: 50vh;
  width: 50vh;
  border-radius: 10px;
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 20);
  margin-right: 50px;
}

.img-style {
  margin-left: 40px;
  width: 30vh;
  height: 30vh;
  object-fit: contain;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.buscador{
  font-family: 'Ubuntu';
  height: 35px;
}

.boton-buscar {
  font-family: 'Ubuntu';
  height: 41px;
  padding: 10px;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 20px;
  height: 80vh;
  width: 80vh;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 20);
}

.city-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2114d1;
  color: white;
  border-radius: 10px;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 30px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 20);
}

.weather-info {
  list-style: none;
  padding: 0;
}

.weather-info li {
  font-size: 18px;
  color: #fff;
  margin-bottom: 10px;
}

.save-button {
  cursor: pointer;
  font-family: 'Ubuntu';
  height: 41px;
  padding: 10px;
}

.ciudades-guardadas {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.fila-botones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.ciudades-guardadas div {
  display: flex;
  margin-top: 10px;
}

.ciudades-guardadas p {
  font-size: 16px;
  margin-bottom: 10px;
}

.header-style {
  background-color: #3498dbc7;
  text-align: center;
}